#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Bywater BASIC
GenericName=Bywater BASIC
Type=Application
Exec=/usr/bin/bwbasic.sh
Icon=/usr/share/pixmaps/bwbasic.png
StartupNotify=true
Terminal=true
Categories=Development

